@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	#home h2 {
		@apply font-unna font-bold text-primary text-2xl xl:text-[48px] text-center mt-10 xl:mt-20 mb-6 xl:mb-10;
	}

	#desktop-nav a {
		@apply hover:scale-110 hover:shadow-xl flex items-center justify-center;
	}

	.not-found-text {
		@apply;
	}
}

/* #hero {
	height: calc(100vh - 96px);
} */

/* FLIPPING CARDS */

/* .flip-card {
	perspective: 1000px;
} */

/* .flip-card-inner {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: translatex(100%);
} */
